version: '3.9'

services:
  app:
    build: .
    ports: 
     - '8000:8000'
    depends_on:
      - db

  db:
    image: postgres:alpine3.17
    restart: always
    environment:
      POSTGRES_PASSWORD: 1
      POSTGRES_USER: core
    ports:
      - '5432:5432'
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
